services:
  vpn:
    image: dperson/openvpn-client:latest
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    security_opt:
      - label:disable
    tmpfs:
      - /run
      - /tmp
    stdin_open: true
    tty: true
    dns:
      - 8.8.8.8
      - 8.8.4.4
    volumes:
      - ${APP_DATA_DIR}/data/vpn:/vpn
    environment:
      TZ: America/Los_Angeles

  web:
    image: ghcr.io/bobparkerbob888-tech/openvpn-web:latest
    restart: on-failure
    depends_on:
      - vpn
    ports:
      - "3381:8080"
    volumes:
      - ${APP_DATA_DIR}/data/vpn:/vpn
