name: Build and Push Docker Image

on:
  push:
    branches: [main, master]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io

jobs:
  build-coiniumserv:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v5
        with:
          context: ./mining-coiniumserv
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ github.repository_owner }}/coiniumserv-mining-pool:latest
